html,body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    overflow-x: hidden;
    background-color: rgb(120, 50, 227) !important;
}

/*****************************
    Header navigation styles
*/
.desktop-naviagion a {
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-size: 19px;
    color: white;
}

.desktop-naviagion a:hover {
    color: white;
    text-decoration: none;
}

.desktop-naviagion ul {
    list-style-type: none;
}

.desktop-naviagion ul li{
    display: inline-block;
    margin: 1rem;
    text-decoration: none;
}

.header-button {
    background-color: rgb(0, 202, 138);
    border-radius: 20px;
    padding: 5px 35px;
}

.header-button a {
    font-size: 16px;
}

/*****************************
    Home page styles
*/
.home-landing {
    height: 100vh;
}

.home-landing-text {
    padding-top: 17rem;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
}

.home-landing-text h1 {
    font-size: 4rem;
    font-weight: 700;
}

.home-landing-text p {
    font-size: 2.5rem;
    font-weight: 400;
}

.home-landing-image {
    padding-top: 13.5rem;
}

.home-second {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10rem 0rem;
}

.home-second h1 {
    padding-bottom: 3rem;
}

.home-second p {
    padding-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
}

.home-img {
    width: 49%;
}

.home-third {
    background-color: #eef2fa;
    padding: 10rem 0rem;
}

.home-third h1 {
    padding-top: 3rem;
}

.home-third p {
    font-size: 1.2rem;
}

.home-third img {
    max-width: 125%;
    position: relative;
    left: -10rem;
    top: 4rem;
}

.home-fourth {
    background-color: white;
    padding: 10rem 0rem;
}

.card-price {
    width: 100%;
    height: 550px;
    border-radius: 25px;
    box-shadow: 0 0 22.8px 1.2px rgba(0,0,0,0.3);
    background-color: white;
}

.card-top {
    width: 100%;
    background-color: #7924e6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 5rem 0rem;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    color: white;
    text-align: center;
}

.card-top h1 {
    font-size: 3rem;
}